NET "B[0]"  LOC = T20  | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "B[1]"  LOC = R20  | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "B[2]"  LOC = T22  | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "B[3]"  LOC = T23  | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "G[0]"  LOC = R22  | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "G[1]"  LOC = R23  | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "G[2]"  LOC = T24	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "G[3]"  LOC = T25 	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "R[0]"  LOC = N21	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "R[1]"  LOC = N22	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "R[2]"  LOC = R21	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "R[3]"  LOC = P21	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "HS"    LOC = M22	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "VS"    LOC = M21	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "clk"   LOC = AC18  | IOSTANDARD = LVCMOS18;
NET "LED[0]"  LOC = W23 | IOSTANDARD = LVCMOS33;
NET "LED[1]"  LOC = AB26 | IOSTANDARD = LVCMOS33;
NET "LED[2]"  LOC = Y25 | IOSTANDARD = LVCMOS33;
NET "LED[3]"  LOC = AA23 | IOSTANDARD = LVCMOS33;
NET "LED[4]"  LOC = Y23 | IOSTANDARD = LVCMOS33;
NET "LED[5]"  LOC = Y22 | IOSTANDARD = LVCMOS33;
NET "LED[6]"  LOC = AE21 | IOSTANDARD = LVCMOS33;
NET "LED[7]"  LOC = AF24 | IOSTANDARD = LVCMOS33;
#PS2
NET "ps2_clk"	LOC = N18     	| IOSTANDARD = LVCMOS33 ; 
NET "ps2_data"	LOC = M19     	| IOSTANDARD = LVCMOS33 ;
NET "SEGCLK"		LOC = M24   | IOSTANDARD = LVCMOS33 ;
NET "SEGCLR"		LOC = M20   | IOSTANDARD = LVCMOS33 ;
NET "SEGDT"		LOC = L24    | IOSTANDARD = LVCMOS33 ;
NET "SEGEN"		LOC = R18    | IOSTANDARD = LVCMOS33 ; 
NET "SW[0]"		LOC = AA10   	| IOSTANDARD = LVCMOS15 ;
NET "SW[1]"		LOC = AB10      | IOSTANDARD = LVCMOS15 ;
NET "SW[2]"		LOC = AA13      | IOSTANDARD = LVCMOS15 ;
NET "SW[3]"		LOC = AA12      | IOSTANDARD = LVCMOS15 ;
NET "SW[4]"		LOC = Y13       | IOSTANDARD = LVCMOS15 ;
NET "SW[5]"		LOC = Y12       | IOSTANDARD = LVCMOS15 ;
NET "SW[6]"		LOC = AD11      | IOSTANDARD = LVCMOS15 ;
NET "SW[7]"		LOC = AD10      | IOSTANDARD = LVCMOS15 ;
NET "SW[8]"		LOC = AE10      | IOSTANDARD = LVCMOS15 ;
NET "SW[9]"		LOC = AE12      | IOSTANDARD = LVCMOS15 ;
NET "SW[10]"	LOC = AF12      | IOSTANDARD = LVCMOS15 ;
NET "SW[11]"	LOC = AE8       | IOSTANDARD = LVCMOS15 ;
NET "SW[12]"	LOC = AF8       | IOSTANDARD = LVCMOS15 ;
NET "SW[13]"	LOC = AE13      | IOSTANDARD = LVCMOS15 ;
NET "SW[14]"	LOC = AF13      | IOSTANDARD = LVCMOS15 ;
NET "SW[15]"	LOC = AF10      | IOSTANDARD = LVCMOS15 ;
NET "buzzer"		LOC = AF25	     | IOSTANDARD = LVCMOS33 ;